/* Write your code here. */
.app-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
}

.letters-cal-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 992px) {
  .letters-cal-cont {
    flex-direction: row;
  }
}

.cal-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}
@media screen and(min-width:992px) {
  .cal-cont {
    align-items: flex-start;
    order: 0;
  }
}

.heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  .heading {
    font-size: 40px;
  }
}

.input-phrase-cont {
  display: flex;
  flex-direction: column;
  align-self: start;
}
@media screen and (min-width: 992px) {
  .input-phrase-cont {
    align-items: flex-start;
  }
}
.label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
}

.letter-input {
  color: #ffffff;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #e4e7eb;
  border-radius: 4px;
  margin-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}
@media screen and (min-width: 992px) {
  .letter-input {
    width: 350px;
  }
}

.letters-count {
  color: #219a6f;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  align-self: center;
  margin-top: 30px;
  padding: 15px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 992px) {
  .letters-count {
    align-self: start;
    padding: 24px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .letters-count {
    align-self: start;
    padding: 30px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.letters-cal-image {
  width: 100%;
  order: 0;
}
@media screen and (min-width: 992px) {
  .letters-cal-image {
    width: 50%;
    order: 1;
  }
}
